<%= form_for @user do |f| %>

<div class='login_container'>
  <div id="errors">
    <% if flash.now[:error] %>
      <% flash.now[:error].each do |fault| %>
        <%= "<ul>#{fault}</ul>".html_safe %>
        <% end %>
    <% end %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field(:username) %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field(:email) %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field(:password)  %>
  </div>
  <!-- verify that passwords match in javascript, or something? -->
  <div>
      <label for="user_password_confirmation">Password confirmation</label>
      <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" />
    </div>
  <div id="height">
      <label for="user_feet">Feet</label>
        <select id="user_feet">
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          </select>
      <label for="user_inches">Inches</label>
        <select id="user_inches"><option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          </select>
          <%= f.hidden_field :height, id: "user_height" %>
    </div>
  <div>
    <%= f.label(:sex, "Gender")%>
    <%= f.select(:sex, {"Male" => "M", "Female" => "F"})%>
  </div>
  <div>
    <%= f.label(:sex_seeking, "Gender Seeking") %>
    <%= f.select(:sex_seeking, {"Women" => "F", "Men" => "M"}) %>
  </div>
  <div id="birthday">
    Enter your birthday:
    <label for="birthday_month">Month</label>
    <%= f.select(:birthday_month, 1..12) %>
    <label for="birthday_day">Day</label>
    <%= f.select(:birthday_day, 1..31) %>
    <label for="birthday_year">Year</label>
    <%= f.select(:birthday_year, 1910..1994)%>
  </div>
  <div>
    <%= f.label(:country, "Country") %>
    <%= f.select(:country, ["United States"])%>
  </div>
  <div>
    <%= f.label(:zipcode, "Zipcode") %>
    <%= f.text_field(:zipcode) %>
  </div>
  <div>
    <%= f.label(:body, "Body Type") %>
    <%= f.select(:body, ["Average", "Slim / Slender", "Fit / Athletic", "Few extra pounds"])  %>
  </div>
  <div>
    <%= f.label(:hair, "Hair Color") %>
    <%= f.select(:hair, ["Auburn / Red", "Bald", "Black", "Blonde", "Dark blonde", "Dark brown", "Gray / White", "Light brown", "Salt and pepper gray"])  %>
  </div>
  <div>
    <%= f.label(:eye, "Eye Color") %>
    <%= f.select(:eye, ["Blue", "Brown", "Green", "Gray", "Hazel", "Other"])  %>
  </div>
  <div>
    <%= f.label(:race, "Race") %>
    <%= f.select(:race, ["Black / African descent", "Asian", "White / Caucasian", "East Indian", 
                         "Hispanic / Latino", "Middle Eastern", "Multi-racial", "Native American", 
                         "Pacific Islander", "Other"])  %>
  </div>
  <div>
    <%= f.label(:occupation, "Occupation")%>
    <%= f.text_field(:occupation)  %>
  </div>
  <div>
    <%= f.label(:about, "About Me") %>
    <%= f.text_area(:about)  %>
  </div>
  <div style='display:none'>
    <%= @user.generate_captcha %>
    <%= f.hidden_field(:captcha_key) %>
  </div>
  <div>
    <img src= <%= SinglesnetApi.captcha_img_url(@user.captcha_key) %> alt="CAPTCHA" />
    <%= f.label(:captcha_answer, "Enter Captcha Here") %>
    <%= f.text_field(:captcha_answer)  %>
  </div>
  <div class="login-button">
    <%= f.submit 'Register' %>
  </div>
</div>
<% end %>