<%= form_for @user, url: users_path do |f| %>

<div class='login_container'>
  <div>
    <%= f.label :email %>
    <%= f.email_field(:email) %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field(:password)  %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field(:password_confirmation)  %>
  </div>
  <div id="height">
      <label for="user_feet">Feet</label>
        <select id="user_feet">
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          </select>
      <label for="user_inches">Inches</label>
        <select id="user_inches"><option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          </select>
          <%= f.hidden_field :height, id: "user_height" %>
    </div>
  <div>
    <%= f.label(:body, "Body Type") %>
    <%= f.select(:body, ["Average", "Slim / Slender", "Fit / Athletic", "Few extra pounds"])  %>
  </div>
  <div>
    <%= f.label(:hair, "Hair Color") %>
    <%= f.select(:hair, ["Auburn / Red", "Bald", "Black", "Blonde", "Dark blonde", "Dark brown", "Gray / White", "Light brown", "Salt and pepper gray"])  %>
  </div>
  <div>
    <%= f.label(:eye, "Eye Color") %>
    <%= f.select(:eye, ["Blue", "Brown", "Green", "Gray", "Hazel", "Other"])  %>
  </div>
  <div>
    <%= f.label(:race, "Race") %>
    <%= f.select(:race, ["Black / African descent", "Asian", "White / Caucasian", "East Indian", 
                         "Hispanic / Latino", "Middle Eastern", "Multi-racial", "Native American", 
                         "Pacific Islander", "Other"])  %>
  </div>
  <div>
    <%= f.label(:occupation, "Occupation")%>
    <%= f.text_field(:occupation)  %>
  </div>
  <div>
    <%= f.label(:drinking, "Drinking") %>
    <%= f.text_field(:drinking)  %>
  </div>
  <div>
    <%= f.label(:smoking, "Smoking") %>
    <%= f.radio_button(:smoking, "yes") %>
    <%= f.radio_button(:smoking, "no") %>
  </div>
  <div>
    <%= f.label(:about, "About Me") %>
    <%= f.text_area(:about)  %>
  </div>
  <div>
    <%= f.label :img, "Profile picture" %>
    <%= f.file_field(:img)  %>
  </div>
  <div class="login-button">
    <%= f.submit 'Register' %>
  </div>
</div>
<% end %>