<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-26188677-1']);
  _gaq.push(['gwo._trackPageview', '/2479737585/test']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->

<div id="hdr">

  <div class="wrap">

    <h1>Singlesnet</h1>

  </div>

</div>

<div id="wrap">

  <div id="content" class="group">

    <div id="form">
      <h3>Join SinglesNet, it's FREE</h3>
      <%= render "new_form" %>
    </div>

    <h2>Meet singles near you!</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Nulla sodales velit eu massa egestas feugiat.  Lorem ipsum dolor ipsum dolor sit amet.</h3>


  </div>

  <div id="benefits" class="group">
    <h3>Free Member Benefits</h3>
    <ul>
      <li> <%= image_tag("v2/icon_chat.png", :alt => "Chat With Thousands") %>
        <h4>Chat With Thousands</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
      <li> <%= image_tag("v2/icon_message.png", :alt => "Email Featured Members") %>
        <h4>Email Featured Members</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
      <li> <%= image_tag("v2/icon_profile.png", :alt => "View Member Profiles") %>
        <h4>View Member Profiles</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
      <li class="last"> <%= image_tag("v2/icon_singles.png", :alt => "Proprietary Matching") %>
        <h4>Proprietary Matching</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
    </ul>
  </div>

</div>

