<%= form_for @user do |f| %>

<div class="first_page">
  <div id="gender_select">
    <label for="sex">I am a</label>
    <%= f.select(:sex, {"Man" => "M", "Woman" => "F"}) %>
    <label for="sex_seeking">seeking a</label>
    <%= f.select(:sex_seeking, {"Woman" => "F", "Man" => "M" })%>
  </div>
  <div id="zipcode">
    <%= f.label(:zipcode, "Zipcode") %>
    <%= f.text_field(:zipcode)%>
    </div>
    <div class="submit-zip-button">
      <%= f.submit 'Search Now' %>
    </div>
</div>

<% end %>